@using Microsoft.EntityFrameworkCore
@using StatusPage.Net.Data
@using StatusPage.Net.Misc.Extensions
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Db
@{
    var siteName = ((await Db.Settings.FirstOrDefaultAsync(x => x.Id == "SiteName"))?.Value ?? "StatusPage.Net");
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - StatusPage.Net</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="kanadaj" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/lib/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/flat/green.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

    <link href="~/lib/font-awesome/css/font-awesome-core.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome-solid.css" rel="stylesheet" />
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet">
    <link href="~/gentelella/build/css/custom.min.css" asp-append-version="true" rel="stylesheet">
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-action="Index" asp-controller="Home" class="site_title"><small><img src="~/images/logo_square_200.png" style="width: 32px"/> <span class="small">@siteName</span></small></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @Html.GravatarImage((await UserManager.GetUserAsync(User)).Email, 80, HtmlHelperExtensions.DefaultImage.Default, "img-circle profile_img")
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-fw fa-home"></i> Home</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Status"><i class="fa fa-fw fa-exchange fa-rotate-90"></i> Status</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Ping"><i class="fa fa-fw fa-signal"></i> Ping</a>
                                </li>
                                <li>
                                    <a asp-action="Accounts" asp-controller="Settings"><i class="fa fa-fw fa-user"></i> Accounts</a>
                                </li>
                                <li>
                                    <a asp-action="Config" asp-controller="Settings"><i class="fa fa-fw fa-cog"></i> Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

                                    @Html.GravatarImage((await UserManager.GetUserAsync(User)).Email, 80, HtmlHelperExtensions.DefaultImage.Default) @User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>*@
                                    <li>
                                        <form style="display: inline" asp-action="Logout" asp-controller="Account" asp-antiforgery="true">
                                            <button><i class="fa fa-sign-out pull-right"></i> Log Out</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    StatusPage.Net by <a href="https://royalroadl.com">Royal Road&trade;</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/fastclick/lib/fastclick.js"></script>
        <script src="~/lib/nprogress/nprogress.js"></script>
        <script src="~/lib/iCheck/iCheck.js"></script>
        <script src="~/gentelella/build/js/custom.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/nprogress/nprogress.js"></script>
        <script src="~/lib/fastclick/lib/fastclick.js"></script>
        <script src="~/lib/iCheck/iCheck.js"></script>
        <script src="~/gentelella/build/js/custom.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
